<div class="row">
  <div class="col-md-12">
  <nb-card>
    <nb-card-body>Hello world! Keeping myself busy.  <button (click)="firstClick()" type="submit" class="btn btn-danger">???</button></nb-card-body>
  </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>

        <div class="col-md-6">
      <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <img [src]="images[0]" alt="Random first slide">
            <div class="carousel-caption">
              <h3>First</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide">
            <div class="carousel-caption">
              <h3>Second</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Third</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Laat een berichtje achter</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Naam">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Bericht"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Post</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Berichten</nb-card-header>
      <nb-card-body>
        Hier komen de berichten.
      </nb-card-body>
    </nb-card>
  </div>

</div>
